.footer-container {
  background-color: #242424;
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-title {
  color: white;
  padding: 50px 0px;
}

.footer-logo {
  color: #fff;
  width: 260px;
  margin-left: 0px;
  font-size: 1rem;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.footer-logo-title {
  font-size: 1rem;
  font-family: "Press Start 2P", cursive;
  color: #1df5e6;
  display: flex;
  justify-content: space-between;
}

.logo-img {
  width: auto;
  height: 80px;
}

.partner {
  display: block;
  justify-content: center;
  margin: 20px;
}

.partner_logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.partner_name {
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* Social Icons */
.social-icon-link {
  color: aqua;
  font-size: 50px;
  padding: 20px;
}

.social-media {
  background: rgb(28, 27, 27);
  /* max-width: 1000px; */
  width: 100%;
  margin-top: 40px;
  margin-bottom: 0px;
  padding: 20px 0px;
}

.social-media-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: auto auto;
  vertical-align: middle;
}

.footer-logo {
  height: 80px;
  width: auto;
  display: flex;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
  /* background-color: #fff; */
}

.footer-logo-title {
  font-size: 22px;
  font-family: "Press Start 2P", cursive;
  color: #1df5e6;
  margin: auto 5px;
  /* background-color: #bbb; */
}

.social-icons {
  display: block;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  /* width: 40%; */
}

.social-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.website-rights {
  color: #fff;
  margin-bottom: 16px;
}

@media screen and (max-width: 768px) {
  .footer-links {
    padding-top: 2rem;
  }

  .footer-input {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .footer-link-wrapper {
    flex-direction: column;
  }

  .social-media-wrap {
    flex-direction: column;
  }
}

@media only screen and (max-width: 480px) {
  .footer-logo {
    justify-content: center;
  }

  .footer-logo-title {
    display: none;
  }
}
