.airdrop {
  padding: 4rem;
  background: aqua;
}

.airdrop_container {
  padding: 2rem;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.airdrop_container > h1 {
  color: rgb(3, 80, 80);
  text-align: center;
  font-size: 30px;
  line-height: 3rem;
}

.airdrop_text {
  font-size: 24px;
  font-weight: 800;
}

img.emoji {
  margin: 0px !important;
  display: inline !important;

  height: auto;
  width: 70px;
}

span.celeb-emoji {
  display: inline-block;
  position: relative;
  font-size: 50px;
  vertical-align: middle;
  line-height: 2;
  top: -10px;
  animation: bounce 0.8s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@media only screen and (max-width: 1024px) {
  .airdrop {
    padding: 4rem 0rem;
  }

  .airdrop_container {
    width: 80%;
    /* margin: 0 auto; */
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .airdrop_container {
    width: 100%;
    text-align: center;
  }

  .airdrop_container > h1 {
    font-size: 18px;
    width: 100%;
  }

  .airdrop_container > p {
    font-size: 18px;
    width: 100%;
  }

  span.emoji {
    position: relative;
    font-size: 25px;
    vertical-align: middle;
    line-height: 2;
    top: -5px;
  }
}

@media only screen and (max-width: 420px) {
  .airdrop_container > h1 {
    font-size: 14px;
    width: 100%;
  }

  .airdrop_container > p {
    font-size: 14px;
    width: 100%;
  }

  span.emoji {
    position: relative;
    font-size: 20px;
    vertical-align: middle;
    line-height: 2;
    top: -5px;
  }
}
