.tokenomics_section {
  height: auto;
  padding: 6rem 5rem;
  background: linear-gradient(
    4deg,
    rgba(0, 0, 0, 1) 25%,
    rgba(1, 114, 136, 1) 100%
  );
}

.tokenomics_title {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 40px;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.tokenomics_title > h1 {
  font-size: 30px;
  line-height: 3rem;
  color: aqua;
}

.tokenomics_title > h2 {
  font-size: 25px;
  line-height: 3rem;
  color: rgb(6, 158, 158);
}

.row {
  margin: 3rem auto;
  /* width: 80%; */
  display: flex;
  justify-content: center;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col {
  height: auto;
  /* width: 25%; */
  min-width: 200px;
  border: solid;
  border-radius: 10px;
  border-color: aqua;
  border-width: 2px;
  margin: 0 20px;
  padding: 0px 10px 10px 0px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.col:hover {
  background: rgb(1, 102, 102);
}

.col > h1 {
  color: aqua;
  font-size: medium;
}

.col > h2 {
  text-align: center;
  font-size: 40px;
  color: white;
  padding: 0;
}

@media only screen and (max-width: 1024px) {
  .row {
    flex-direction: column;
    /* background-color: beige; */
  }
  .col {
    max-width: 400px;
    margin: 20px auto;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .tokenomics_section {
    padding: 6rem 0rem;
  }

  .tokenomics_title > h1 {
    font-size: 22px;
  }

  .tokenomics_title > h2 {
    font-size: 20px;
  }

  .col {
    width: 100%;
    min-width: none;
    margin: 20px 0px;
    padding: 0px;
  }

  .col > h1 {
    font-size: 16px;
  }

  .col > h2 {
    font-size: 30px;
  }
}
