.audit {
  padding: 6rem;
  background: rgba(1, 114, 136, 1);
  /* display: flex; */
  text-align: center;
}

.audit_container {
  padding: 2rem;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

span.emoji {
  display: inline-block;
  position: relative;
  font-size: 50px;
  vertical-align: middle;
  line-height: 2;
  margin-bottom: 1rem;
  animation-name: stretch;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(1);
    /* background-color: green; */
    border-radius: 100%;
  }

  50% {
    /* background-color: orange; */
  }

  100% {
    transform: scale(1.25);
    /* background-color: red; */
  }
}

.audit_container > h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 30px;
  line-height: 3rem;
}

.audit_container > h2 {
  font-size: 20px;
}

.audit_text {
  font-size: 24px;
  font-weight: 800;
}

.audit-buttons {
  width: 50%;
  margin: 0 auto;
  font-size: 22px;
  /* background-color: antiquewhite; */
}

.safu-button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  font-weight: 700;
  color: initial;
  background-color: rgb(204, 24, 228);
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
}

.kyc-button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  font-weight: 700;
  color: initial;
  background-color: rgb(9, 207, 9);
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
}

.audit-button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  font-weight: 700;
  color: initial;
  background-color: aqua;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
  text-decoration: none;
}

@media only screen and (max-width: 1024px) {
  .audit {
    padding: 6rem 0rem;
  }

  .audit_container {
    width: 80%;
    /* margin: 0 auto; */
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .audit {
    padding: 6rem 0rem;
  }

  .audit_container {
    width: 100%;
    /* margin: 0 auto; */
    text-align: center;
  }

  .audit_container > h1 {
    font-size: 18px;
    width: 100%;
  }

  .audit_container > p {
    font-size: 18px;
    width: 100%;
  }
}

@media only screen and (max-width: 420px) {
  .audit_container > h1 {
    font-size: 16px;
    width: 100%;
  }

  .audit_container > p {
    font-size: 16px;
    width: 100%;
  }
}
