:root {
  --small: 320px;
  --mobile: 480px;
  --tablet: 768px;
  --laptop: 1024px;
  --desktop: 1200px;
}

.navbar {
  background: rgb(28, 27, 27);
  height: 80px;
  top: 0;
  position: sticky;
  font-size: 20px;
  z-index: 999;
}

.navbar-container {
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  /* background-color: #999; */
}

.navbar-logo {
  height: 80px;
  width: auto;
  display: flex;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
  /* background-color: #fff; */
}

.navbar-logo-img {
  position: relative;
  top: 5px;
}

.navbar-logo-title {
  font-size: 22px;
  font-family: "Press Start 2P", cursive;
  color: #1df5e6;
  margin: auto 5px;
  /* background-color: #bbb; */
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  justify-content: end;
  margin-right: 2rem;
  height: auto;
  width: auto;
}

.nav-item {
  height: 80px;
  font-weight: bold;
  font-size: 1rem;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 1024px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: auto;
    position: absolute;
    top: 80px;
    opacity: 0;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 0.8;
    transition: all 0.5s ease;
    z-index: 1;
    padding-bottom: 25px;
    max-width: 200px;
  }

  .nav-links {
    text-align: left;
    padding: 30px;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: relative;
    top: 0.5vh;
    left: 2vw;
  }

  .navbar-container {
    position: relative;
    justify-content: space-between;
  }

  .menu-icon {
    display: flex;
    position: relative;
    right: 20px;
    top: 25px;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }
}
