.hero-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1200px rgba(0, 0, 0, 0.2);
  line-height: 4rem;
}

.row {
  height: 100%;
  align-items: center;
  padding: 0 50px;
}

.hero-container > video {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.column {
  width: 50%;
  float: left;
  justify-content: center;
  text-align: center;
}

.popup {
  background-color: antiquewhite;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.hero-img {
  object-fit: scale-down;
  max-width: 100%;
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

.column .presale-btn {
  padding: 8px 40px;
  border-radius: 50px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 10px !important;

  background-color: aqua;
  color: #242424;
  border: 2px solid white;
  font-size: 20px;
  font-weight: 900;

  animation: mymove 2s infinite alternate;
}

@keyframes mymove {
  from {
    background-color: aqua;
    color: black;
    border-color: black;
  }
  to {
    background-color: rgb(1, 70, 110);
    color: white;
    border-color: white;
  }
}

.hero-container .hero-btns > h1 {
  color: #fff;
  font-size: 40px;
  margin: 20px 0px;
  line-height: 4rem;
}

.hero-btns .btn {
  margin: 6px;
  border-radius: 10px;
  /* width: 60%; */
}

@media screen and (max-width: 1024px) {
  .column {
    width: 100%;
  }

  .hero-img {
    object-fit: scale-down;
    max-height: 250px;
  }

  .column .hero-btns > h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .hero-img {
    object-fit: scale-down;
    max-height: 150px;
  }

  .hero-container .hero-btns {
    max-width: 80%;
    margin: 0px auto;
  }

  .hero-btns .btn {
    margin: 0 auto;
  }

  .hero-container .hero-btns > h1 {
    font-size: 25px;
    line-height: 3rem;
  }
}

@media screen and (max-width: 480px) {
  .hero-container .hero-btns {
    max-width: 100%;
    margin: 0 auto;
  }

  .hero-btns .btn {
    max-width: 100%;
  }

  .hero-container .hero-btns > h1 {
    font-size: 20px;
    line-height: 2.5rem;
    margin-bottom: 30px;
  }
}
