.row {
  height: fit-content;
}

.hero-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1200px rgba(0, 0, 0, 0.2);
  line-height: 4rem;
}

.hero-container > video {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.column {
  width: 50%;
  float: left;
  justify-content: center;
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.hero-img {
  object-fit: scale-down;
  max-width: 100%;
}

.hero-container .hero-btns > h1 {
  color: #fff;
  font-size: 40px;
  margin: 20px 0px;
  line-height: 4rem;
}

.hero-btns .btn {
  margin: 6px;
  /* width: 60%; */
}

@media screen and (max-width: 1024px) {
  .row {
    padding-top: 15vh;
    /* padding-bottom: 10vh; */
    height: fit-content;
  }
  .column {
    width: 100%;
    /* align-items: bottom; */
  }

  .hero-img {
    object-fit: scale-down;
    max-height: 250px;
    /* margin-top: 30px; */
  }

  .hero-btns {
    /* margin: 6px; */
    max-width: 80%;
    margin: 0 auto;
  }

  .hero-btns .btn {
    max-width: 40%;
  }

  .column .hero-btns > h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .row {
    padding-top: 20vh;
  }
  .hero-img {
    object-fit: scale-down;
    max-height: 150px;
    /* margin-top: 30px; */
  }

  .hero-container .hero-btns {
    max-width: 80%;
    margin: 0 auto;
  }

  .hero-btns .btn {
    /* margin: 6px; */
    margin: 0 auto;
    max-width: 80%;
  }

  .hero-container {
    height: 100vh;
    /* padding-top: 50px; */
    padding-bottom: 200px;
  }

  .hero-container .hero-btns > h1 {
    font-size: 25px;
    line-height: 2rem;
    margin: 0px 0px;
  }
}
