.about {
  padding: 4rem;
  background: rgb(8, 115, 148);
}

h1 {
  text-align: center;
  font-size: 25px;
  line-height: 3rem;
}

.about_container {
  padding: 4rem;
  /* max-width: 1120px; */
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.about_container > h1 {
  color: aqua;
  padding-bottom: 20px;
}

.panels__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.panels__items {
  margin-bottom: 24px;
}

/* @media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
} */

@media only screen and (max-width: 1024px) {
  .panels__item {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .panels__item {
    margin-bottom: 2rem;
  }

  .panels__items {
    margin: 0 auto;
  }

  .about_container {
    width: 100%;
    margin: 0 auto;
  }
}
