:root {
  --mobile: 480px;
  --tablet: 768px;
  --laptop: 1024px;
  --desktop: 1200px;
}

.navbar {
  background: rgb(28, 27, 27);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  /* max-width: 1500px; */
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  font-family: "Press Start 2P", cursive;
  color: #1df5e6;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: auto;
  justify-content: end;
  margin-right: 2rem;
  height: auto;
}

.nav-item {
  height: 80px;
  font-weight: bold;
  font-size: 1rem;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 1024px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: auto;
    /* height: 80%; */
    position: absolute;
    top: 80px;
    /* left: -100%; */
    opacity: 0;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: relative;
    top: 0.5vh;
    left: 2vw;
  }

  .navbar-container {
    width: 80%;
    position: relative;
    /* background-color: #1df5e6; */
    justify-content: space-between;
  }

  .menu-icon {
    display: block;
    position: relative;
    right: 2vw;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}

@media screen and (max-width: 768px) {
  .navbar-logo {
    /* font-size: 0.7rem; */
    transform: translate(-50px, 0px);
  }
}
