.tokenomics_section {
  padding-top: 4rem;
  padding-bottom: 0rem;
  background: linear-gradient(
    4deg,
    rgba(0, 0, 0, 1) 25%,
    rgba(1, 114, 136, 1) 100%
  );
}

h1 {
  text-align: center;
  font-size: 25px;
  line-height: 3rem;
  color: aqua;
  padding-top: 20px;
  margin-bottom: 40px;
  /* padding: 20px 0px 40px 0px; */
}

.row {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col {
  height: auto;
  width: 25%;
  border: solid;
  border-radius: 10px;
  border-color: aqua;
  border-width: 2px;
  margin: 0 20px;
  padding: 0px 10px 25px 10px;
}

.col:hover {
  background: rgb(1, 102, 102);
}

.col > h1 {
  color: acqua;
  font-size: medium;
}

.col > h2 {
  text-align: center;
  font-size: 50px;
  color: white;
  padding: 0;
}
@media only screen and (max-width: 1024px) {
  .row {
    flex-direction: column;
    padding-bottom: 10vh;
  }
  .col {
    width: 70%;
    margin: 20px auto;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 20px;
  }
}
