.roadmap {
  padding: 2rem 6rem 6rem 6rem;
  background: black;
}

.roadmap_title {
  color: white;
  font-size: 30px;
  line-height: 3rem;
  padding: 50px 0px;
}

@media only screen and (max-width: 420px) {
  .roadmap {
    padding: 2rem 0rem 6rem 0rem;
    background: black;
  }
}
